<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">




    <context-param>
        <param-name>universal</param-name>
        <param-value>Unicorn</param-value>
    </context-param>
<servlet>
    <servlet-name>Servletx</servlet-name>
    <servlet-class>edu.acc.java.Servletx</servlet-class>
    <init-param>
        <param-name>my_param</param-name>
        <param-value>Dog</param-value>
    </init-param>
</servlet>
    <servlet-mapping>
        <servlet-name>Servletx</servlet-name>
        <url-pattern>/Servletx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlety</servlet-name>
        <servlet-class>edu.acc.java.Servlety</servlet-class>
        <init-param>
            <param-name>my_param</param-name>
            <param-value>Cat</param-value>

        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>Servlety</servlet-name>
        <url-pattern>/Servlety</url-pattern>
    </servlet-mapping>

</web-app>